.productContainer {
  display: inline-flex;
  gap: 1rem;
  overflow-x: scroll;
  padding-left: 1rem;
}

.productItemContainer {
  width: 300px;
}

.navigationContainer {
  min-width: 300px;
  margin-top: 298px;
}

.productImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 144px;
  height: 144px;
}

.specificationGroupName {
  visibility: hidden;
}

.productImageContainer {
  height: 185px;
}

.navigationSpecificationValue:nth-child(odd) {
  background-color: #F9F9F9;
}

.productItemWrapper:first-child .specificationListing .specificationItem:nth-child(odd) {
  background-color: #E2E2E2
}

.productItemWrapper:first-child .specificationListing .specificationItem:nth-child(even) {
  background-color: #f1f1f1
}

.productItemWrapper:not(:first-child) .specificationListing .specificationItem:nth-child(odd) {
  background-color: #F9F9F9;
}

.specificationListing {
  margin-top: 20px;
}

.similarProductComparison {
  flex-direction: column;
}

.specificationSectionTitle {
  max-width: 1470px;
  margin: 40px auto 0 auto;
  width: 100%;
}

.specificationSectionTitleWrapper {
  width: 100%;
}

.specificationSectionTitleParagraph {
  font: normal normal bold 19px/23px Roboto;
  padding-bottom: 9px;
  border-bottom: 1px solid #E6E6E6;
  margin: 0 0 20px 0;
  color: #000;
  page-break-before: always;
}

@media only screen and (max-width: 639px) {
  .navigationContainer {
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .productContainer {
    gap: 0.5rem;
    padding-left: 0.5rem;
  }
}
